.vercel
.venv/          # Virtual environment directory
.venv/
.vscode/       # Visual Studio Code settings
.idea/         # JetBrains IDE settings
node_modules/  # Node.js dependencies
.log          # Log files
.pyc          # Python compiled files
misc/
requirements.txt
src/rf_model.py
NANF.txt